* {
  box-sizing: border-box;
}
html {
    font-family: Helvetica;
    background-color: #ddd;
    background-image: url('../img/logo2.jpg');
    background-size: contain;
  }

  @media screen and (max-width: 768px) {
    html {
      background-size: contain;
      background-color: #000000;
      background-repeat: no-repeat;
        background-attachment: fixed;
    }
  }

  .container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    border-radius: 20px;
    
  }

@media screen and (max-width: 768px) {
  .container {
  width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .quotes-container {
    background-color: #ddd;
    /* width: 100vw; */
    padding: 0px !important;
  }
  
  .dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
    flex-direction: column;
  }
  
  .biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  .dialog-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    border: none;
    gap: 20px;
  }
  
  }
.main-title {
  font-size: 72px !important;
}

.biography-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
  .bold {
    font-weight: bold;
  }
  
  /* header */
  .header {
    text-align: center;
  }
  
  .main-title {
    font-size: 40px;
  }
  
  .main-paragraph {
    font-style: italic;
    color: #999999;
  }
@media screen and (max-width: 768px) {
  .main-paragraph {
    font-size: 24px;
      line-height: 32px;
    }

}
  
  /* Imagem destaque */
  .featured-image {
    text-align: center;
    margin-top: 30px;
  }

    .featured-image img {
      width: 880px;
  }
  
    @media screen and (max-width: 768px) {
    .featured-image img {
      width: 100%;
      }
      }

@media screen and (max-width: 768px) {
  figure {
    margin: 0;
  }
}
  .featured-image button {  
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 723px;
    right: 475px;
    padding: 10px;
    cursor: pointer;
    min-width: 223px;
  }

  @media screen and (max-width: 768px) {
    .featured-image button {
      top: 571px;
        right: 0;
        height: 56px;
        left: 100px;
      width: 233px;
      }
      }
      
      @media screen and (max-width: 380px) {
        .featured-image button {
          top: 542px;
          right: 0;
          height: 56px;
          left: 61px;
          width: 233px;
    }
  }

  figcaption {
    color: #999999;
  }

  @media screen and (max-width: 768px) {
    figcaption {
      font-size: 24px;
    }
  }

    @media screen and (max-width: 768px) {
      h2 {
        font-size: 48px;
      }
    }

      @media screen and (max-width: 768px) {
        p {
          font-size: 24px;
            line-height: 36px;
        }
      }

      @media screen and (max-width: 768px) {
        .curiosities-container li {
          font-size: 24px;
            line-height: 24px;
            height: 72px;
        }
      }

      @media screen and (max-width: 768px) {
        .quotes-container blockquote {
          font-weight: bold !important;
          font-size: 52px !important;
          /* width: 100%; */
        }
 }
@media screen and (max-width: 380px) {
  .quotes-container {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .curiosities-container li {
    height: 94px;
  }
}
  /* Biografia */
  .biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
  }
  
  /* Quotes */
  .quotes-container {
    background-color: #ddd;
    padding: 30px;
  }
  
  .quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
  }
  
  .quotes-container p {
    font-style: italic;
  }
  
  /* Curiosidades */
  .curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
  }

  /* Imagem bold */
  .img-bold {
    font-weight: bold;
    text-align: center;
    color: #999999;
  }

  @media screen and (max-width: 768px) {
    .img-bold img {
      width: 100%;
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    h3{
      font-size: 32px;
    }
  }

  @media screen and (max-width: 768px) {
    .accordion-button {
      font-size: 42px !important;
    }
  }

  @media screen and (max-width: 768px) {
    #myDialog2 > h3 {
     font-size: 48px !important;
     text-align: center;
     padding: 0px 26px;
   }
 }

 @media screen and (max-width: 768px) {
  #myDialog3 > h3 {
   font-size: 48px !important;
   text-align: center;
   padding: 0px 26px;
  min-width: 241px;
 }
}

@media screen and (max-width: 768px) {
  #myDialog > p {
    font-size: 24px;
      line-height: 32px !important;
      text-align: center !important;
    padding: 0px 0px !important;
 }
}
@media screen and (max-width: 768px) {
  #myDialog2 > p {
    font-size: 24px;
      line-height: 32px !important;
      text-align: center !important;
    padding: 0px 0px !important;
 }
}
@media screen and (max-width: 768px) {
  #myDialog3 > p {
    font-size: 24px;
      line-height: 32px !important;
      text-align: center !important;
    padding: 0px 0px !important;
 }
}
@media screen and (max-width: 768px) {

  #myDialog,
  #myDialog2,
  #myDialog3>h3 {
    font-size: 25px !important;
    text-align: center;
    padding: 0px 26px;
    min-width: 241px;

  }
}
  .dialog-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    border: none;
  }  

    #myDialog,
    #myDialog2,
    #myDialog3 {
    justify-content: flex-start;
    flex-direction: column;
    width: 820px;
    text-align: start;
    border-radius: 10px;
    padding: 20px;
    border: transparent;
    height: 400px;
  }

  #myDialog p {
    margin: 0px;
    line-height: 24px;
    border: none;
    text-align: start;
    padding: 0px 120px;
  }

  #myDialog2 p {
    margin: 0px;
    line-height: 24px;
    border: none;
    text-align: start;
    padding: 0px 120px;
  }

  #myDialog3 p {
    margin: 0px;
    line-height: 24px;
    border: none;
    text-align: start;
    padding: 0px 120px;
  }

  #myDialog h3 {
    font-size: 32px;
    color: #999999;
    padding: 0px 120px;
  }

  #myDialog2 h3 {
    font-size: 32px;
    color: #999999;
    padding: 0px 120px;
  }

  #myDialog3 h3 {
    font-size: 32px;
    color: #999999;
    padding: 0px 120px;
  }

  .dialog img:hover {
    margin-top: -10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    box-shadow: 10px 10px 4px #06000033;
  }

  .dialog img {
    transition: 
    margin-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    border 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.moreinfo-container a {
    color: #999999;
    margin-top: 50px;
}

dialog {
    border: none;
}

.icon-x {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px; 
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 5px;
}

.icon-x:hover {
    color: #999999;
}
.accordion-button.active, .accordion-button:hover {
    background-color: #ccc;
}

.accordion-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
}

.accordion-content p {
    margin: 10px 0;
}
.accordion {
    margin-top: 10px;
}

.music-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.accordion-2 {
  background-color: #f1f1f1;
  width: 100%;

  border-radius: 5px;
  overflow: hidden;
  /* Garante que nada vazará do container */
}

.accordion-header {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 10px 0px 0px 10px;
  position: relative;
  user-select: none;
}


.accordion-content-2 {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.9s ease, opacity 0.9s ease;
  padding: 0 10px;
  background-color: #fafafa;
  border-radius: 12px;
  margin-top: 10px;
}

/* Esconda o checkbox */
input[type="checkbox"] {
  display: none;
}

/* Mostrar o conteúdo quando o checkbox está marcado */
input[type="checkbox"]:checked+.accordion-header+.accordion-content-2 {
  max-height: 500px;
  opacity: 1;
  padding: 10px;
}

.accordion-3 {
  background-color: #f1f1f1;
  width: 100%;

  border-radius: 5px;
  overflow: hidden;
  /* Garante que nada vazará do container */
}

.accordion-header-3 {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 10px 0px 0px 10px;
  position: relative;
  user-select: none;
}

.accordion-content-3 {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.9s ease, opacity 0.9s ease;
  padding: 0 10px;
  background-color: #fafafa;
  border-radius: 12px;
  margin-top: 10px;
}

/* Esconda o checkbox */
input[type="checkbox"] {
  display: none;
}

/* Mostrar o conteúdo quando o checkbox está marcado */
input[type="checkbox"]:checked+.accordion-header-3+.accordion-content-3 {
  max-height: 500px;
  opacity: 1;
  padding: 10px;
}


.accordion-4 {
  background-color: #f1f1f1;
  width: 100%;

  border-radius: 5px;
  overflow: hidden;
  /* Garante que nada vazará do container */
}

.accordion-header-4 {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 10px 0px 0px 10px;
  user-select: none;
}

.accordion-content-4 {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.9s ease, opacity 0.9s ease;
  padding: 0 10px;
  background-color: #fafafa;
  border-radius: 12px;
  margin-top: 10px;
}

/* Esconda o checkbox */
input[type="checkbox"] {
  display: none;
}

/* Mostrar o conteúdo quando o checkbox está marcado */
input[type="checkbox"]:checked+.accordion-header-4+.accordion-content-4 {
  max-height: 500px;
  opacity: 1;
  padding: 10px;
}

.accordion-5 {
  background-color: #f1f1f1;
  width: 100%;

  border-radius: 5px;
  overflow: hidden;
}

.accordion-header-5 {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 10px 0px 0px 10px;
  position: relative;
  user-select: none;
}

.accordion-content-5 {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.9s ease, opacity 0.9s ease;
  padding: 0 10px;
  background-color: #fafafa;
  border-radius: 12px;
  margin-top: 10px;
}

/* Esconda o checkbox */
input[type="checkbox"] {
  display: none;
}

/* Mostrar o conteúdo quando o checkbox está marcado */
input[type="checkbox"]:checked+.accordion-header-5+.accordion-content-5 {
  max-height: 500px;
  opacity: 1;
  padding: 10px;
}

.icon-plus {
  margin-left: 900px;
  font-size: 18px;
  font-weight: 700;
  color: #999999;
}

@media screen and (max-width: 768px) {

  .accordion-header,
  .accordion-header-3,
  .accordion-header-4,
  .accordion-header-5 {
    font-size: 32px;
    text-align: center;
    padding-top: 17px;
  }

  input[type="checkbox"]:checked+.accordion-header+.accordion-content-2 {
    max-height: 6328px;
    opacity: 1;
    padding: 10px;
  }

  input[type="checkbox"]:checked+.accordion-header-3+.accordion-content-3 {
    max-height: 6328px;
    opacity: 1;
    padding: 10px;
  }

  input[type="checkbox"]:checked+.accordion-header-4+.accordion-content-4 {
    max-height: 6328px;
    opacity: 1;
    padding: 10px;
  }

  input[type="checkbox"]:checked+.accordion-header-5+.accordion-content-5 {
    max-height: 6328px;
    opacity: 1;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
  }
}

@media screen and (max-width: 768px) {

  #myDialog,
  #myDialog2,
  #myDialog3 {
    width: 10vw;
    min-height: 100vh;
  }
  

  #myDialog h3 {
    font-size: 32px;
    color: #999999;
    width: 241px;
}

.icon-x {
  position: fixed;
  top: 28px;
  right: 22px;
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 5px;
}
}